/* meals section */

.section-meals {
  padding: 9.6rem 0;
  /* margin-bottom: 10px; */
}

.meal-img {
  width: 100%;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
  font-size: 2.4rem;
}
strong {
  font-weight: 500;
}

meal-tag {
  margin-bottom: 12px;
  display: flex;
  gap: 0.4rem;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.1rem;
  overflow: hidden;
  transition: all 0.6s;
}
.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
  transform: translateY(-1.2rem);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 100px;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
}

.tag--vagan {
  background-color: #94d82d;
}
.tag--veg {
  background-color: #51cf66;
}
.tag--paleo {
  background-color: #ffd43b;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.list-items {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 9.6rem;
}
.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 2px;
  display: inline-block;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
.center-text {
  text-align: center;
}

/****************************/
/* testimonial SECTION  */
/****************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.spacing {
  padding: 9.6rem 0;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonials-container {
  padding: 9.6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
}
.testimonial-text {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  line-height: 1.8;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.gallary-item img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}
.gallary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallary-item img:hover {
  transform: scale(1.1);
}
.gallary-item {
  overflow: hidden;
}
/****************************/
/* section pricing */
/****************************/

.section-pricing {
  padding: 9.6rem 0;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-text {
  font-size: 2rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500px;
  margin-right: 0.8rem;
}
.plan-signup {
  text-align: center;
  margin-top: 4.8rem;
}
.pricing-plan {
  border-radius: 11px;
  /* margin-bottom: 9.6rem;q */
  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
.pricing-plan---complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  overflow: hidden;
  position: relative;
}
.pricing-plan---complete::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -18%;
  background-color: #ffd43b;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/****************************/
/* cta section  */
/****************************/

.section-cta {
  /* top right bottom left */
  padding: 4.8rem 0 12.8rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right, #eb984e, #e67e22);
  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}
.cta *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/****************************/
/* footer */
/****************************/

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icons {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.address {
  margin-bottom: 2.4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:active,
.footer-link:hover {
  color: #555;
}
